@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  padding: 57px 150px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("assets/Desktop - 1.png") no-repeat;
  background-size: cover;
  color: #E4E5EA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

